.DS_Store
Assignments/.DS_Store
Assignments/A1/.DS_Store
Assignments/A1/GSE213102_counts.txt
Assignments/A1/GSE213102_counts.txt.gz
Assignments/A1/GSE213102_series_matrix.txt
Assignments/A1/GSE213102_series_matrix.txt.gz
Assignments/A1/fonc-13-1208403.pdf
Assignments/A1/normalization_methods_Rnaseq.pdf
Assignments/A2/.DS_Store
Assignments/A2/.Rhistory
Assignments/A3/.DS_Store
Assignments/A3/data/.DS_Store
Course_Book/
Quizes/
data_files/
processed_data/
Assignments/A3/gsea_output.txt 

